<mat-toolbar color="primary">
  <span>Administrator Console</span>
  <span class="example-spacer"></span>

  <button mat-raised-button (click)="openDialog()" style="margin: 2px">
    Access token
  </button>
  <!-- <mat-card *ngIf="!expireIcon()" style="height: 36px; width: 35px; padding: 1px; background-color:rgb(255, 45, 45);">
    <img src="assets/images/cross-back.png" width="25px">
  </mat-card>
  <mat-card *ngIf="expireIcon()" style="height: 36px; width: 35px; padding: 1px; background-color:rgb(145, 220, 90);">
    <img src="assets/images/checked-back.png" width="25px">
  </mat-card> -->
</mat-toolbar>